first_module1/src/main/app/first_module1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="first_module1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/hey" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#['My first sample']" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <enricher target="#[flowVars['tilak']]" doc:name="Message Enricher">
            <processor-chain doc:name="Processor Chain">
                <set-payload value="#['my mule message enricher']" doc:name="Set Payload"/>
                <logger message="#['logger inside message enricher='+payload]" level="INFO" doc:name="Logger"/>
            </processor-chain>
        </enricher>
        <logger message="#[flowVars['tilak']]" level="INFO" doc:name="Logger"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="first_module1Flow1" doc:name="first_module1Flow1"/>
    </flow>
    <flow name="first_module1Flow1">
        <set-payload value="#[flowVars['tilak']]" doc:name="Set Payload"/>
        <logger message="#['secondpayload'+payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
